
:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../Images/team/TEam.JPG) no-repeat center center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & programs ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.content {
    width: 100%;
    height: 80vh;
    background: #fff0;  
    align-items: center;
    text-align: center  ;
  }
  
  .profile-skills {
    display: flex;
    top: 150px;
    position: relative;
    width: 100%;
    align-items: flex-start;
  }
  
  .profile-skills > div {
    width: 100%;
    align-items: center;
    border-radius: 2px;
    position: relative;
  }
  
  ul.skills {
    width: 100%;
    position: relative;
    padding: 25px 35px;
    background: linear-gradient(0deg, var(--c1) 0 10px, var(--b2) 0 calc(100% - 10px), var(--c1) 0 100%);
  }
  
  ul.skills2 {
    --c1: #9acd32;
  }
  
  ul.skills3 {
    --c1: #ff4500;
  }
  
  ul.skills:before {
    content: "DEC-2024";
    text-transform: uppercase;
    position: absolute;
    top: -50px;
    height: 50px;
    color: var(--w1);
    background-color: var(--b2);
    width: 100%;
    left: 0;
    padding: 15px 15px 0 0;
    text-align: end;
    font-weight: 600;
    z-index: 1;
    transition: var(--t1);
    font-size: 50px;
    line-height: 35px;
    transform: scaleY(1.65);
  }
  
  ul.skills2:before {
    content: "APR-2025";
  }
  
  
  ul.skills:after {
    content: "";
    position: absolute;
    border: 40px solid rgba(255, 255, 255, 0);
    border-top-color: var(--b2);
    top: -30px;
    left: 10px;
    z-index: 0;
    transition: var(--t1);
    filter: drop-shadow(0 11px 0.1px var(--w1));
  }
  
  ul.skills:hover:before,
  label:hover + ul.skills:before,
  input:checked + label + ul.skills:before {
    transition: var(--t1);
    background-color: #2187e7;
    background-position: 0 50%;
  }
  ul.skills:hover:after,
  label:hover + ul.skills:after,
  input:checked + label + ul.skills:after {
    top: -20px;
    transition: var(--t1);
    border-top-color: #2187e7;
  }
  
  ul.skills2:hover:before,
  label:hover + ul.skills2:before,
  input:checked + label + ul.skills2:before {
    background-color: #9acd32;
  }
  ul.skills2:hover:after,
  label:hover + ul.skills2:after,
  input:checked + label + ul.skills2:after {
    border-top-color: #9acd32;
  }
  
  ul.skills3:hover:before,
  label:hover + ul.skills3:before,
  input:checked + label + ul.skills3:before {
    background-color: #ff4500;
  }
  ul.skills3:hover:after,
  label:hover + ul.skills3:after,
  input:checked + label + ul.skills3:after {
    border-top-color: #ff4500;
  }
  
  ul.skills li {
    --per: 50;
    --dur: calc(calc(var(--per) / 100) * 1.5s);
    margin: 0 0 5px 0;
    list-style: none;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--w2);
  }
  
  ul.skills li:before {
    content: "";
    position: absolute;
    background: #1c1c1c;
    height: 16px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    border: 1px solid #111;
    border-color: #111 #323232 #323232 #111;
    --track: #1098f440;
    background: linear-gradient(
      90deg,
      var(--track) calc(calc(var(--per) * 1%) + 4px),
      #1c1c1c calc(calc(var(--per) * 1%) + 4px)
    );
  }
  
  ul.skills2 li:before {
    --track: #9acd3240;
  }
  
  ul.skills3 li:before {
    --track: #ff450040;
  }
  
  ul.skills li:after {
    content: "";
    height: 11px;
    margin: 0 0 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px #00c6ff66;
    left: 3px;
    width: 0%;
    bottom: 0;
    transition: all var(--dur) ease 0s;
    animation: start 1s ease 0s 2 alternate;
  }
  
  ul.skills2 li:after {
    background: #9acd32;
    box-shadow: 0px 0px 10px 1px #9acd3299;
  }
  
  ul.skills3 li:after {
    background: #ff4500;
    box-shadow: 0px 0px 10px 1px #ff450099;
  }
  
  ul.skills li:hover {
    filter: brightness(1.5);
    transition: var(--t1);
  }
  
  ul.skills:hover li:after,
  label:hover + ul.skills li:after,
  input:checked + label + ul.skills li:after {
    width: calc(calc(var(--per) * 1%) - 2px);
  }
  
  @keyframes start {
    100% {
      width: calc(calc(var(--per) * 1%) - 2px);
    }
  }
  
  ul.skills2 li:after {
    animation-delay: 0.5s;
  }
  ul.skills3 li:after {
    animation-delay: 1s;
  }
  
  ul.skills li span {
    font-weight: 500;
  }
  
  ul.skills li span:before {
    position: absolute;
    right: -25px;
    top: 43px;
    transition: var(--t1);
    content: "";
    opacity: 1;
    border: 7px solid #fff0;
  }
  
  ul.skills li:hover span:before,
  .profile-skills input:checked + label + ul.skills li span:before {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
    opacity: 1;
    border-right-color: #2187e7;
  }
  
  ul.skills2 li:hover span:before,
  .profile-skills input:checked + label + ul.skills2 li span:before {
    border-right-color: #9acd32;
  }
  
  ul.skills3 li:hover span:before,
  .profile-skills input:checked + label + ul.skills3 li span:before {
    border-right-color: #ff4500;
  }
  
  ul.skills li span:after {
    position: absolute;
    right: -40px;
    top: 38px;
    transition: var(--t1);
    counter-reset: percent var(--per);
    /*content: counter(percent) "%";*/
    content: counter(percent);
    color: var(--b2);
    opacity: 1 !important;
    padding: 4px 6px;
    border-radius: 1px;
    font-weight: bold;
    pointer-events: none;
  }
  
  ul.skills li:hover span:after,
  .profile-skills input:checked + label + ul.skills li span:after {
    transition: var(--t1);
    right: calc(calc(85 - var(--per)) * 1%);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    background: var(--c1);
  }
  
  ul.skills2 li:hover span:after {
    background: #9acd32;
  }
  
  ul.skills3 li:hover span:after {
    background: #ff4500;
  }
  
  /*********************/
  /*** SKILLS VALUES ***/
  /*********************/
  
  ul.skills li.sk-ani { --per: 5; }
  ul.skills li.sk-cms { --per: 40; }
  ul.skills li.sk-dis { --per: 4; }
  ul.skills li.sk-dtb { --per: 6; }
  ul.skills li.sk-pro { --per: 6; }
  ul.skills li.sk-res { --per: 90; }
  
  ul.skills li.sk-gim { --per: 13; }
  ul.skills li.sk-ado { --per: 4; }
  ul.skills li.sk-not { --per: 3; }
  ul.skills li.sk-tri { --per: 5; }
  ul.skills li.sk-wor { --per: 5; }
  ul.skills li.sk-tre { --per: 65; }
  
  
  /*********************/
  /***** TOP LABELS ****/
  /*********************/
  
  .profile-skills input {
    display: none;
  }
  
  .profile-skills label {
    background: var(--w1);
    position: absolute;
    top: -61px;
    left: 22px;
    z-index: 2;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    cursor: pointer;
    transition: var(--t1);
    box-shadow: 0 0 0 0 var(--w1);
  }
  
  .profile-skills label:before {
    content: "";
    background: #fff0;
    position: absolute;
    top: 12px;
    left: 11px;
    z-index: 2;
    border: 9px solid var(--b2);
    border-top-width: 0;
    border-right-width: 0;
    transform: rotate(-45deg);
    width: 33px;
    height: 22px;
    border-radius: 2px;
    transition: var(--t1);
  }
  
  .profile-skills label:hover {
    box-shadow: 0 0 0 3px var(--w1);
    transition: var(--t1);
  }
  
  .profile-skills label:hover:before {
    border-color: var(--b2);
    transition: var(--t1);
  }
  
  .profile-skills input:checked + label {
    box-shadow: 0 0 0 6px var(--w1);
    transition: var(--t1);
  }
  
  .profile-skills input:checked + label:before {
    border-color: #2187e7;
  }
  
  .profile-skills input#sk2:checked + label:before {
    border-color: #9acd32;
  }
  
  .profile-skills input#sk3:checked + label:before {
    border-color: #ff4500;
  }
  
  label[for="sk1"] {
    /*left: -10px;*/
  }
  label[for="sk2"] {
    /*left: calc(34% - 6px);*/
  }
  
  
  label[for="sk1"]:before {
    border-color: cornflowerblue;
  }
  label[for="sk2"]:before {
    border-color: yellowgreen;
  }
  label[for="sk3"]:before {
    border-color: orangered;
  }
  
  /*********************/
  /*** BOTTOM LABELS ***/
  /*********************/
  
  ul.skills li.more {
    padding: 0;
    margin-bottom: 20px;
  }
  
  ul.skills li.more:before,
  ul.skills li.more:after {
    display: none;
  }
  
  ul.skills li.more:hover {
    filter: none !important;
  }
  
  ul.skills li.more div {
    max-height: 0;
    transition: var(--t1);
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  ul.skills li.more input:checked ~ div {
    max-height: 150px;
    transition: var(--t1);
    padding: 20px 0 0;
  }
  
  ul.skills li.more div span:before,
  ul.skills li.more div span:after {
    display: none;
  }
  
  ul.skills li.more label {
    background: linear-gradient(163deg, var(--b2) 50%, var(--w1) 50%);
    right: 0;
    left: inherit;
    top: inherit;
    bottom: -70px;
    color: var(--b2);
    background-size: 100% 300%;
    background-position-y: 100%;
    transition: var(--t1);
    width: 55px;
    height: 55px;
    right: -50px;
  }
  
  ul.skills li.more label:before {
    border: 0;
    height: 100%;
    width: 100%;
    transform: rotate(0deg);
    content: "+";
    content: "\271A";
    font-size: 45px;
    line-height: 55px;
    left: 0;
    top: 0;
    text-align: center;
    color: var(--c1);
  }
  
  ul.skills li.more label:hover {
    background-position-y: 0%;
    color: var(--w1) !important;
    transition: var(--t1);
    box-shadow: 0 0 0 10px var(--w1);
  }
  
  ul.skills li.more span {
    background: #1c1c1c;
    border-radius: 1px;
    margin: 10px 10px 1px 1px;
    padding: 4px 8px;
    display: inline-block;
    border: 1px solid #111;
    border-color: #111 #323232 #323232 #111;
  }
  
  ul.skills li.more span:hover {
    color: var(--w0);
    background: var(--c1);
    box-shadow: 0px 0px 5px 1px var(--c1);
    border-color: #fff2;
  }
  
  ul.skills li.more input:checked + label {
    box-shadow: 0 0 0 9px var(--w1);
    background-position-y: 0%;
    color: var(--w0);
    bottom: -70px;
  }
  
  ul.skills li.more input:checked + label:before {
    content: "\2759";
    transform: rotate(90deg);
    font-weight: 600;
  }
  
  ul.skills li.more input:checked + label:hover {
    box-shadow: 0 0 0 0 var(--w1);
    background-position-y: 100%;
    color: var(--b2) !important;
  }
  
  /*********************/
  /*** MEDIA QUERIES ***/
  /*********************/
  
  @media only screen and (max-width: 1024px) {
    .content { height: 60vh; }
    .profile-skills {
      flex-direction: row;
      flex-wrap: wrap;
      top: 20px;
    }
    .profile-skills > div {
      width: 47% !important;
    }
    .profile-skills > div:nth-child(3) {
      width: 98% !important;
      margin-top: 120px;
    }
  }
  
  

  @media only screen and (max-width: 768px) {
    .content { height: 100%; }
    .profile-skills {
      flex-direction: row;
      flex-wrap: wrap;
      top: 20px;
    }
    .profile-skills > div {
      width: 98% !important;
    }
    .profile-skills > div:nth-child(2), 
    .profile-skills > div:nth-child(3) {
      margin-top: 120px;
    }
    ul.skills li:after {
      width: calc(calc(var(--per) * 1%) - 2px);
    }
    ul.skills li span:before {
      transition: var(--t1);
      right: calc(calc(96.5 - var(--per)) * 1%);
      opacity: 1;
      border-right-color: #2187e7;
    }
    ul.skills2 li span:before {
      border-right-color: #9acd32;
    }
    ul.skills3 li span:before {
      border-right-color: #ff4500;
    }
    ul.skills li span:after {
      transition: var(--t1);
      right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
      opacity: 1;
      background: var(--c1);
    }
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.slider-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

@keyframes scrolling {

    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(-20%);
    }
}

.slider-items img {
    width: 30%;
    margin: 20px;

}